/*noinspection CssUnusedSymbol*/
.water-button {
    -fx-font-size: 3px;
    -fx-background-color: #ADD8E6;
    -fx-border-width: 1px;
    -fx-border-color: rgba(15, 15, 15, 0.51);
    -fx-text-alignment: center;
}

/*noinspection CssUnusedSymbol*/
.water-button:hover {
    -fx-background-color: #BEE9F7;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.water-button:pressed {
    -fx-background-color: #9DD8E6;
    -fx-text-alignment: center;
}

/*noinspection CssUnusedSymbol*/
.damaged-button {
    -fx-font-size: 3px;
    -fx-background-color: #960000;
    -fx-border-width: 1px;
    -fx-border-color: rgba(15, 15, 15, 0.51);
    -fx-text-alignment: center;
}

/*noinspection CssUnusedSymbol*/
.damaged-button:hover {
    -fx-background-color: #A71111;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.damaged-button:pressed {
    -fx-background-color: #850000;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.destroyed-button {
    -fx-font-size: 3px;
    -fx-background-color: #111111;
    -fx-border-width: 1px;
    -fx-border-color: rgba(15, 15, 15, 0.51);
    -fx-text-alignment: center;
}

/*noinspection CssUnusedSymbol*/
.destroyed-button:hover {
    -fx-background-color: #222222;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.destroyed-button:pressed {
    -fx-background-color: #000000;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.missed-button {
    -fx-font-size: 3px;
    -fx-background-color: #0004dc;
    -fx-border-width: 1px;
    -fx-border-color: rgba(15, 15, 15, 0.51);
    -fx-text-alignment: center;
}

/*noinspection CssUnusedSymbol*/
.missed-button:hover {
    -fx-background-color: #1115ef;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.missed-button:pressed {
    -fx-background-color: #0003cb;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}


